.accordion-item {
  border-bottom: 1px solid #c7c7c7;
}

.accordion-title {
  @apply flex justify-between;
  margin: 8px 0;
  padding: 12px 8px 12px 12px;
  cursor: pointer;
  font-size: 1rem;
}

.accordion-icon-close {
  transform: rotate(90deg) !important;
}

.accordion-icon-open {
  transform: rotate(270deg) !important;
}
