<app-navbar></app-navbar>
<section class="bg-primary">
  <app-searchbar placeholder="Busque por marca, modelo ..."></app-searchbar>
</section>
<section class="container mx-auto px-4 lg:px-0">
  <h1>Carros Usados</h1>
  <app-filter-options
    (toggleSidebarEvent)="setSidebarState($event)"
  ></app-filter-options>
  <section class="grid grid-cols-12">
    <app-filter-sidebar
      [ngClass]="hiddenSidebar ? 'hidden' : 'col-span-3'"
    ></app-filter-sidebar>
    <div [ngClass]="!hiddenSidebar ? 'col-span-9 lg:ml-4' : 'col-span-full'">
      <app-breadcrumbs></app-breadcrumbs>
      <app-car-list [expandGrid]="hiddenSidebar"></app-car-list>
      <app-pagination></app-pagination>
    </div>
  </section>
</section>
