<app-navbar></app-navbar>
<section class="bg-primary">
  <app-searchbar
    placeholder="Busque por marca, modelo ..."
    [search]="search"
    (searchResultsEvent)="searchData($event)"
  ></app-searchbar>
</section>
<section class="container mx-auto px-4 lg:px-0 flex-grow">
  <h1>Carros Usados</h1>
  <app-filter-options
    (toggleSidebarEvent)="setSidebarState($event)"
    (sortDataEvent)="sortData($event)"
    [total]="total"
  ></app-filter-options>
  <section class="grid grid-cols-12">
    <div class="col-span-full py-5" *ngIf="vehicles.length; else noResults">
      <app-car-list
        [expandGrid]="hiddenSidebar"
        [vehicles]="vehicles"
      ></app-car-list>
      <app-pagination
        [totalPages]="totalPages"
        [currentPage]="currentPage"
        [limit]="limit"
        [skip]="skip"
        (updateDataEvent)="updatePage($event)"
      ></app-pagination>
    </div>
    <ng-template #noResults>
      <section class="col-span-full flex flex-col items-center w-1/2 mx-auto">
        <div class="w-1/5">
          <img src="assets/images/no-results.svg" alt="" />
        </div>
        <span class="text-3xl font-medium my-2"
          >Não encontramos o que você estava buscando</span
        >
        <span class="text-xl font-light mt-2 text-center text-gray-600"
          >Existem inúmeras possibilidades no nosso catálogo.</span
        >
        <span class="text-xl font-light text-center text-gray-600"
          >Altere os filtros e encontre outras opções.</span
        >
      </section>
    </ng-template>
  </section>
</section>
<app-footer></app-footer>
