.search-input {
  @apply placeholder-gray-500 text-gray-700;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: #d1d5db solid 1px;
}

.search-input:focus {
  border: #3374db solid 1px;
  outline: none;
}

.search-input::-webkit-input-placeholder {
  font-weight: 200;
}
.search-input::-moz-placeholder {
  font-weight: 200;
}
.search-input::-ms-input-placeholder {
  font-weight: 200;
}

.search-button {
  @apply absolute px-5 py-1;
  right: 1.1rem;
  top: 1px;
  height: calc(100% - calc(1px + 1px));
  z-index: 1000;
  background-color: white;
  border-radius: 0.5rem;
}

.search-icon {
  fill: #d1d5db;
}
